on:
  push:
    branches: [ "main" ]

name: Test Workflow
jobs:
  example1:
    runs-on: [flow-runner-NWl86jj4q7cK]
    steps:
      - run: echo "Done"
      - run: sleep 10
  example2:
     runs-on: [flow-runner-NWl86jj4q7cK]
     steps:
       - run: sleep 10
       - run: echo "Done"
  example3:
     runs-on: [flow-runner-NWl86jj4q7cK]
     steps:
       - run: sleep 10
       - run: echo "Done"   
  example4:
     runs-on: [flow-runner-NWl86jj4q7cK]
     steps:
       - run: sleep 10
       - run: echo "Done"   
  example5:
     runs-on: [flow-runner-NWl86jj4q7cK]
     steps:
       - run: sleep 10
       - run: echo "Done"   
